.element {
    border: 0.5px solid cornflowerblue;
    border-radius: 30px;
    padding: 8px 8px 3px 8px;
    height: 320px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  

    .description {
        color: white;
        text-align: center;
        font-size: 15px;
    }

    img {
        border-radius: 10px;
        height: 250px;
        margin-bottom: 10px;
    }

    .buttonsContainer {
        display: flex;
        justify-content: center;
        gap: 30px;
        position: absolute;
        bottom: 0;
        
        .link1{
            font-size: 30px;
            color: cornflowerblue;
            margin-top: 9px;
        
            &:hover {
                color: purple;
            }
        }
        .link2{
            font-size: 45px;
            color: cornflowerblue;
            
    

            &:hover {
                color: purple;
            }
        }
    }
}