.Portfolio {
    margin-bottom: 150px;
    height: 515px;
    overflow-y: auto;

    .titleContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        
        .title {
            animation: fadeIn 1s ease-in;
            margin-bottom: 1rem;
        }
        p{
            animation: fadeIn 1s ease-in;
            margin-bottom: 1rem;
        }
    }

    ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    
        li {
            list-style: none;
            display: flex;
            flex-direction: column;
            justify-content: center;
            
        }
    }
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }